
<div class="image" style="text-align: right;background-color: aqua;">
  <div style="color: darkred; text-align: center"><h1><b>Welcome to Pravara family</b></h1></div>
  <form class="form-inline">
    <div style="text-align:initial;size: 20px;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3sqgYyHnKtQ6CeWMmJPLmG--9QpSxVKfm30L4zwMPnl3wCQ9cd3u2f949FATxprS-p04&usqp=CAU" alt="Logo" class="img-thumbnail"></div>
    
    <button type="button" routerLink="/Home" class = "btn">Home</button>
    <button type="button" routerLink="/About" class="btn btn-light">about</button>
    <button type="button" routerLink="/Contact" class="btn btn-light">Contact</button>
    <button type="button" routerLink="/Admission" class="btn btn-light">admissionform</button>
    <button type="button" routerLink="/Search" class="btn btn-light">Search</button>
      
  </form>
</div>


































<router-outlet></router-outlet>